.field {
  margin-bottom: 10px;
  font-family: "Barlow"; 
  color: #525252;
  
}

.field label {
  display: block;
  font-size: 16px;
}

.field input {
  display: block;
  width: 90%;
  line-height: 1.5;
  font-size: 14px;
}
.field textarea {
  display: block;
  width: 90%;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500; 
  font-family: "Barlow";
  color: #000000;

}
.radio-btn {
  font-size: 16px;
  font-weight: 450; 
  font-family: "Barlow";
  color: #525252;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #4460AA;
  color: #fff;
  border: none;
  font-weight: 400; 
  font-family: "Barlow"; 
  border-radius: 6px;
}


input[type="submit"]:hover {
      background-color:#002489;
      transition: 0.5s;
  }